// VARIABLES
// main colors
$darkgreen: #15573f;
$salmon: #fd9872;
$lightgreen: #75bc97;
// ordinary colors
$white: #fff;
$darkgrey: #797979;
$lightgrey: #a9a9a9;

// MIXINS

// GLOBAL CLASSES
.wrapper {
  padding: 35px;
}