// VARIABLES
// main colors
$darkgreen: #15573f;
$salmon: #fd9872;
$lightgreen: #75bc97;
// ordinary colors
$white: #fff;
$black: #0C261C;
$darkgrey: #797979;
$lightgrey: #a9a9a9;
$lightergrey: #f6f6f6;

// MIXINS

// GLOBAL CLASSES
.wrapper {
  padding: 35px;
  max-width: 992px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.label {
  display: block;
  padding: 10px 0;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 100%;
  color: $darkgreen;
  border: 1px solid $darkgreen;
  font-family: "Montserrat", sans-serif;
  border-radius: 23px;
  background: #f6f6f6;

  &__icon {
    padding: 10px;
  }
}

.select {
  position: relative;
  
  &:hover {
    cursor: pointer;
  }

  &__text {
    border: 1px solid $darkgrey;
    padding: 15px 20px;
    border-radius: 25px;
  }
  &__options {
    display: none;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;

    background: $white;
    border: 1px solid $darkgrey;
    border-top: none;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
  }
  &__option {
    padding: 15px 20px;
    margin: 0;
    transition: color 0.3s ease, background 0.3s ease;
    &--selected, &:hover {
      background: $lightgreen;
      color: $white;
    }
  }

  &--opened {

    .select {
      &__text {
        border-radius: 25px 25px 0 0;
        border-bottom: none;
      }
      &__options {
        display: flex;
        flex-direction: column;
      }
    }
  }
  
}

.form {
  @media (min-width: 768px) {
    display: flex;
  }
}