.products {
  background: $lightergrey;
}

.empty {
  color: $lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 45px;
    margin: 0;
    padding: 10px 0;
  }
  &__instructions {
    margin: 0;
    padding: 10px 0 30px;
  }
}